@font-face
{
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Bold.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face
{
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face
{
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Italic.ttf') format('opentype');
    font-weight: normal;
    font-style: italic;
}