@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body
{
    background-color: rgb(73, 93, 99);
}

hr
{
    border: 2px solid rgb(249, 87, 56);
}

#titlehr
{
    width: 50%;
    border: 2px solid rgb(249, 87, 56);
}

#title
{
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    color: rgb(249, 87, 56);
    font-size: xx-large;
    text-align: center;  
}

.centerquote
{
    position: relative;
    width: 100%;
}

.firstimage
{
    width: 100%;
    opacity: 0.5;
}

.quote
{
    font-family: 'Oswald';
    top: 50%;
    left: 50%;
    text-align: center;
    color: rgb(249, 87, 56);
    font-weight: bold;
    font-size: xx-large;
}

.lownav
{
bottom: 0;
width: 100%;
text-align: center;
background-color: rgb(37, 95, 112);
height: 50px;
}

.lownav ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.lownav li
{
    display: inline;
    margin: 0 15px;
}

.lownav a
{
    text-decoration: none;
    font-weight: bold;
    font-size: xx-large;
}

.score:hover
{
    color:rgb(5, 164, 5);
    font-weight: bold;
    text-transform:  uppercase;
}

.underline
{
    text-decoration: underline;
}

.bold
{
    font-weight: bold;
}